#mobile-main-content {
  display: none; }

#tablet-main-content {
  display: none; }

* {
  margin: 0px; }

#header {
  background-color: #5A1113;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header-img1 {
  padding: 10px;
  width: 100%;
  max-width: 286px;
  height: 100%;
  max-height: 200px;
  margin-left: 5%; }

.header-img2 {
  padding: 10px;
  width: 100%;
  max-width: 577px;
  height: 100%;
  max-height: 173px;
  margin-right: 10%; }

#navbar, #footer {
  background-color: #131313; }

ul {
  display: flex;
  justify-content: flex-start;
  color: white;
  list-style-type: none; }

.nav-a-f, .nav-a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  margin: 14px; }

.date {
  font-size: 100%;
  text-align: right;
  margin-right: 10px; }

#top-hero-header {
  background-color: #DEDEDE;
  font-size: 22px;
  margin: 16px;
  padding-left: 7px; }

.row-img {
  width: 310px;
  height: 250px;
  margin: 0px; }

.row-text {
  color: white;
  background-color: black;
  width: 310px;
  height: 55px;
  font-size: 18px;
  position: relative;
  bottom: 57px; }

.img-txt {
  height: 250px;
  width: 300px;
  margin-bottom: 10px; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.mid-hero {
  background-color: #DEDEDE;
  font-size: 22px;
  margin: 30px 0px;
  padding: 5px 0px 5px 0px; }

#main-heroImg-top {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px; }

.aside {
  height: 600px; }

#main-heroImg-mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 15px; }

.hero-left {
  width: 1100px; }

#main-heroImg-bottom {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 15px; }

.hero-left-bottom {
  width: 1100px; }

.img-txt-bottom {
  height: 350px;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px; }

.row-img-bottom {
  width: 500px;
  height: 350px; }

.row-text-bottom {
  color: white;
  background-color: black;
  width: 500px;
  height: 70px;
  font-size: 28px;
  position: relative;
  bottom: 74px; }

a {
  text-decoration: none; }

.aside2 {
  height: 774px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 160px; }

.name-footer {
  color: white;
  text-align: center;
  padding: 10px; }

.footer-img {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px; }

@media screen and (max-width: 480px) {
  #mobile-main-content {
    display: block; }

  #tablet-main-content {
    display: none; }

  .header-img2 {
    display: none; }

  .date {
    display: none; }

  #main-content {
    display: none; }

  .row-mobile {
    display: flex;
    justify-content: space-between;
    width: 455px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 20px; }

  .row-img {
    height: 180px;
    width: 214px; }

  .img-txt {
    height: 180px;
    width: 214px; }

  .row-text {
    width: 215px;
    font-size: 14px;
    bottom: 59px; }

  #footer {
    margin-top: 20px; }

  .footer-img {
    display: flex;
    justify-content: center; }

  .ul-footer {
    display: flex;
    justify-content: center; }

  .nav-a-f, .nav-a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 14px; }

  .name-footer {
    font-size: 16px; } }
@media screen and (min-width: 481px) and (max-width: 880px) {
  #mobile-main-content {
    display: none; }

  #tablet-main-content {
    display: block; }

  .aside {
    display: none; }

  .header-img2 {
    display: none; }

  .date {
    display: none; }

  #main-content {
    display: none; }

  .row-tablet {
    display: flex;
    justify-content: space-around;
    width: 550px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px; }

  .row-img {
    height: 180px;
    width: 214px; }

  .img-txt {
    height: 180px;
    width: 214px; }

  .row-text {
    width: 215px;
    font-size: 14px;
    bottom: 59px; }

  #footer {
    margin-top: 20px; }

  .footer-img {
    display: flex;
    justify-content: center; }

  .ul-footer {
    display: flex;
    justify-content: center; }

  .nav-a-f, .nav-a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 14px; }

  .name-footer {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
